@font-face {
    font-family: 'Roboto-Black';
    src: url('/fonts/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('/fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('/public/fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('/fonts/Roboto-Thin.ttf');
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto-Medium';
}

.title {
    font-family: 'Roboto-Regular';
}
.fab {
    color: #689F63;
}